
.app{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("/paisaje3.jpg");

    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
    
}
